/*Modificar a fonte do cabeçalho para uma fonte diferente do Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,900&display=swap');

header {
  background-color: #FF5733;
  /* Alterar a cor de fundo do cabeçalho para uma cor de sua escolha. */
  color: black;
  text-align: center;
  padding: 20px 0;
  font-family: "Fuggles", sans-serif;
  /* Altere para a fonte desejada */
  font-size: 48px;
  /*  Aumentar o tamanho do texto no cabeçalho. */
  transition: background-color 0.3s ease;
}

header:hover {
  background-color: #FF4500;
  /* Personalizar o efeito de hover no cabeçalho, como alterar a cor de fundo ao passar o mouse sobre ele */
}

section {
  background-color: #42A5F5;
  /* Personalizar a cor de fundo da seção e centralizar o texto da seção */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  /* Centralizar o texto */
  font-family: "Poppins", sans-serif;
  /* Alterar a cor do texto na seção */
  font-size: 24px;
  transition: transform 0.2s ease;
}

section:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 10px;
  color: black;
  /* Alterar a cor do texto */
  font-size: 20px;
}

button[type="submit"] {
  background-color: #FFC107;
  /* Estilizar o botão no estado de hover, como alterar a cor de fundo ao passar o mouse sobre. */
  color: black;
  border: none;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: blue;
  /* Estilizar o botão no estado de hover, como alterar a cor de fundo ao passar o mouse sobre.*/
}

footer {
  background-color: #546E7A;
  /* Alterar a cor de fundo do rodapé */
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-family: "Poppins", sans-serif;
  /* Personalizar a fonte no rodapé. */
  font-size: 18px;
}